.DS_Store
*.swp
*.xcuserstate

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Other
*.xccheckout
